<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrderMapper">
    <resultMap id="order" type="entity.OrderDetail">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="goods_item_id" property="goodsItemId"/>
        <result column="order_number" property="orderNumber"/>
        <result column="discount_price" property="discountPrice"/>
        <result column="real_price" property="realPrice"/>
        <result column="shipping_method" property="shippingMethod"/>
        <result column="buyer_msg" property="buyerMsg"/>
    </resultMap>

    <select id="findOrder" parameterType="bean.OrderParam" resultMap="order">
        SELECT o.discount_amount, o.state, o.type, od.*
        FROM yunhe.`order` o, yunhe.order_detail od
        <where>
            o.user_id = #{userId} AND o.id = od.order_id
            <if test="number != null">
                and o.number = #{number}
            </if>
        </where>
    </select>

    <insert id="insertOrder" parameterType="bean.OrderParam">
        INSERT INTO yunhe.`order` (user_id, number)
        VALUES (#{userId}, #{number});

        INSERT INTO order_detail (`count`, shipping_method, buyer_msg, goods_item_id, order_id, order_number,
                          price, discount_price, real_price, pic, support, `desc`)
        (SELECT #{count}, #{shipping_method}, #{buyerMsg}, #{goodsItemId}, (SELECT id FROM yunhe.`order` ORDER BY id DESC LIMIT 0, 1),
         o.number, g.price, g.discount_price, g.discount_price - o.discount_amount, g.pic, (SELECT support FROM mall_goods WHERE mall_goods.id = g.goods_id), g.`desc`
         FROM yunhe.`order` o, yunhe.mall_goods_item g
         WHERE g.id = #{goodsItemId} AND o.id = (SELECT id FROM yunhe.`order` ORDER BY id DESC LIMIT 0, 1));
    </insert>

    <!--批量插入order表数据并返回相应主键-->
    <insert id="insertOrderList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO yunhe.`order` (user_id, number)
        VALUES
        <foreach collection="list" item="order" separator="," >
            (#{order.userId}, #{order.number})
        </foreach>
    </insert>

    <insert id="insertOrderDetailList" parameterType="java.util.List">
--         将订单号、订单id、用户留言等信息插入表中
        INSERT INTO yunhe.`order_detail` (`count`, shipping_method, buyer_msg, goods_item_id, order_id, order_number)
        VALUES
        <foreach collection="list" item="order" separator="," >
            (#{order.count}, #{order.shippingMethod}, #{order.buyerMsg}, #{order.goodsItemId}, #{order.id},
            #{order.number})
        </foreach>;

--         更新表信息
        UPDATE yunhe.order_detail od, yunhe.mall_goods_item g, yunhe.`order` o, yunhe.mall_goods gs
        SET od.price = g.price, od.discount_price = g.discount_price,
        od.real_price = g.discount_price - o.discount_amount, od.pic = g.pic,
        od.support = gs.support, od.`desc` = g.`desc`
        WHERE od.goods_item_id = g.id AND od.order_id = o.id AND g.goods_id = gs.id;
    </insert>

</mapper>
