<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <resultMap id="BaseResultMap" type="entity.User">
        <id column="id" property="id"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="invitation_code" property="invitationCode"/>
        <result column="huanxin_account" property="huanxinAccount"/>
    </resultMap>

    <!--<sql id="Base_Column_List">-->
    <!--id, name, sex-->
    <!--</sql>-->

    <!--用户登录-->
    <select id="findUser" parameterType="entity.User" resultMap="BaseResultMap">
        select *
        from yunhe.user
        where phone_num = #{phoneNum} AND password = #{password}
    </select>
    <insert id="insertUserAuth" parameterType="entity.UserAuth">
        insert into yunhe.user_auth (user_id, username, phone_num, sex,
        nickname, imei, login_type, openid, token, create_time)
        values (#{userId}, #{username}, #{phoneNum},
         #{sex}, #{nickname}, #{imei}, #{loginType},
         #{openid}, #{token}, #{createTime})
    </insert>

    <!--用户注册-->
    <insert id="insertUser" parameterType="entity.User">
        insert into user (username, phone_num, sex,
        nickname, password, invitation_code, avatar, imei, huanxin_account, create_time)
        values (#{username}, #{phoneNum}, #{sex}, #{nickname}, #{password}, #{invitationCode},
         #{avatar}, #{imei}, #{huanxinAccount}, #{createTime})
    </insert>

    <!--更新用户信息-->
    <update id="updateUser" parameterType="entity.User">
        update user
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>