<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <resultMap id="BaseResultMap" type="entity.User">
        <id column="id" property="id"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="invitation_code" property="invitationCode"/>
        <result column="huanxin_account" property="huanxinAccount"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, sex
    </sql>

    <!--用户登录-->
    <select id="findUser" parameterType="entity.User" resultMap="BaseResultMap">
        select *
        from user
        where phone_num = #{phoneNum} AND password = #{password}
    </select>

    <!--用户注册-->
    <insert id="insert" parameterType="entity.User">
        insert into student (id, name, age,
        classId)
        values (#{id}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
        #{classId,jdbcType=INTEGER})
    </insert>
</mapper>